/* Author: Marie Hintsala
    Version: 1.0
    Last update: 10/16/2019 */

/* Media queries have been based off of Twitter's Bootstraps */

/* Extra small devices (phones, less than 768px)
- no media query since this is default */

/* Defaults - AKA phones - mobile first*/
body{
    background-color: #303136;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px){

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px){

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){

}